# Node modules
node_modules/

# Logs
*.log

# Sistema operativo
.DS_Store
Thumbs.db

# Archivos de build o distribución
dist/
build/

# Entornos locales
.env

# Cachés
.cache/

# ============================================
# TERRAFORM
# ============================================

# Ignorar la carpeta oculta de Terraform
**/.terraform/*

# Ignorar los archivos de estado (tienen datos sensibles)
**/*.tfstate
**/*.tfstate.backup

# Ignorar archivos de variables (CONTRAST PASSWORDS)
**/*.tfvars
**/*.tfvars.json

# Ignorar archivos de plan (pueden contener secretos)
**/*.tfplan

# Ignorar overrides
**/override.tf
**/override.tf.json
**_override.tf
**_override.tf.json

# Ignorar CLI config
**/.terraformrc
**/terraform.rc

# Logs de crash
crash.log
crash.*.log