# Node modules
node_modules/

# Logs
*.log

# Sistema operativo
.DS_Store
Thumbs.db

# Archivos de build o distribución
dist/
build/

# Entornos locales
.env

# Cachés
.cache/

# Ignorar la carpeta oculta de Terraform
**/.terraform/*

# Ignorar los archivos de estado (tienen datos sensibles)
**/*.tfstate
**/*.tfstate.backup

# Archivos de log
*.log